.outer-email-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.email-share-wrapper {
}

.email-share-wrapper h1 {
    font-size: 22px;
    margin-top: 20px;
}

.email-share-wrapper div {
    display: flex;
    margin: 20px auto;
    justify-content: center;
    align-items: center;
}

.email-share-wrapper div h3 {
    margin-right: 10px;
}

.email-share-wrapper button {
    padding: 10px 20px;
    background-color: var(--blue);
    color: #fff;
    border-radius: 5px;
}
