.email_sub-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 20px auto;
}

.lady-ann-to {
    margin-top: 20px;
    font-style: italic;
}

.email_sub-container h3 {
    text-align: left;
    font-style: italic;
}

.email_sub-container input {
    width: 65%;
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 12px;
}

.email_sub-container textarea {
    width: 65%;
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 12px;
}

.button-container {
    justify-content: flex-start;
}

.button-container button {
    padding: 10px 25px;
    background-color: #fff;
    border: 1px solid var(--blue);
    color: #333;
    border-radius: 5px;
    box-shadow: 2px 3px 3px #d3d3d3;
    font-size: 16px;
    letter-spacing: 3px;
    transition: all 0.3s;
}

.button-container button:hover {
    background-color: var(--blue);
    color: #fff;
}
