.container-comp {
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 8px #d3d3d3;
    overflow: auto;
    width: 95%;
    /* max-width: 600px; */
    display: flex;
    flex-direction: column;
}

.container-comp_header {
    display: flex;
    justify-content: space-between;
    align-items: top;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.container-comp_sub-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
}

.published-date {
    font-size: 12px;
    color: var(--third-font);
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

.container-comp h1 {
    margin-bottom: 5px;
    text-align: left;
    font-size: 20px;
    margin-right: 5px;
}

.admin-controls-container {
    min-width: 60px;
    margin-bottom: 10px;
}

.admin-controls-container i {
    margin-right: 10px;
}

.admin-controls-container .fa-trash-alt {
    color: var(--red);
}

.admin-controls-container .fa-edit {
    color: var(--blue);
}

.tags-container {
    margin-top: 10px;
    display: flex;
}

.tag-wrapper {
    padding: 5px;
    background-color: #ebe9e9b7;
    text-align: center;
    margin-right: 5px;
    border-radius: 5px;
}

.published-by {
    font-size: 14px;
    color: var(--font-color);
    border-top: 1px solid var(--font-color);
    padding-top: 15px;
    text-align: left;
    margin-top: 10px;
}

.share-container {
    display: flex;
    align-items: center;
    margin: 10px auto;
}

.share-container h5 {
    margin-right: 10px;
}

.share-button-container {
    margin-right: 10px;
}

@media (min-width: 600px) {
    .container-comp {
        width: 100%;
    }

    .container-comp_header {
        margin-bottom: 20px;
    }

    .container-comp_sub-header h1 {
        font-size: 40px;
        font-weight: 100;
    }
}
