.admin-letter-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: left;
    border: 1px solid #d3d3d3;
    width: 90%;
    margin: 20px auto;
    padding: 10px;
    text-align: left;
    box-shadow: 1px 2px 1px #d3d3d3;
    border-radius: 5px;
}

.admin-letter-container div {
    margin-top: 10px;
    font-size: 12px;
}

.admin-letter-container h2 {
    font-size: 18px;
}

.anon-highlight {
    color: var(--red);
}

.admin-letter-container div p {
    font-size: 12px;
    font-family: "Lora", serif;
    min-height: 15px;
}

.p_cut-text {
    text-overflow: ellipsis;
    max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
}

a {
    color: black;
}

.fa-check {
    color: var(--blue);
}
