.sidebar {
    display: none;
    overflow-x: scroll;
    color: #788289;
    padding-top: 30px;
}

.sidebar_tag {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    padding-left: 20px;
    color: #788289;
    cursor: pointer;
    transition: all 0.4s ease-out;
}

.sidebar_tag:hover {
    background-color: rgb(230, 230, 230);
    color: #333333;
}

.sidebar_color {
    background-color: var(--red);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 10px;
    height: 36px;
    position: absolute;
}

.active {
    border-bottom-left-radius: 0px;
    border-top-right-radius: 5px;
    width: 100%;
    height: 8px;
}

@media (min-width: 680px) {
    .sidebar {
        width: 35%;
        height: 85vh;
        position: sticky;
        top: 20px;
        border-radius: 5px;
        margin-top: 20px;
        max-width: 300px;
        margin-bottom: 10px;
        display: block;
    }

    .sidebar_ad-container {
        margin-top: 55px;
    }
}
