.footer-wrapper {
    min-height: 70px;
    width: 100%;
    position: relative;
    bottom: 0px;
    background: url("../../assets/drum-footer.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
    color: #b9b9b9;
}

.footer_inner-container {
    display: flex;
    font-size: 11px;
    width: 100%;
    align-items: center;
    margin-top: 10px;
}

.footer_inner-container h2 {
    color: var(--blue);
}

.footer_inner-container ul {
    display: flex;
    justify-content: space-around;
    flex-grow: 1.5;
    margin-left: 10px;
    align-items: center;
}

.footer_inner-container ul li {
    width: 33.3%;
    text-align: center;
}

.final-container {
    flex-direction: column;
}

.footer_paragraph {
    line-height: 1.3rem;
    text-align: left;
}

.footer_privacy-and-terms-div {
    margin-top: 10px;
}

.footer_links-container {
    margin-top: 10px;
    display: flex;
}

.footer-link {
    margin-right: 8px;
    font-size: 12px;
}

@media (min-width: 1000px) {
    .footer-wrapper {
        display: flex;
        flex-direction: row;
    }

    .footer_inner-container {
        flex-direction: column;
    }
}
