.secondary-nav {
    height: 60px;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    align-items: center;
    color: var(--second-font-color);
    box-shadow: 1px 3px 5px #d3d3d3;
}

.secondary-nav_initial-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 18px;
    max-width: 1200px;
}

.secondary-nav_search-open-div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
}

.secondary-nav_search-open-div div {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.secondary-nav-input {
    border: none;
    padding: 5px 10px;
    font-size: 18px;
    width: 90%;
    z-index: 2;
    margin-left: 5px;
}

.secondary-nav_hide {
    display: none;
}

.fa-search {
    display: inline-block;
}

.search_container-2 {
    flex-grow: 1;
}

@media (min-width: 1000px) {
    .secondary-nav_initial-search {
        width: 83%;
        margin: 0 auto;
        max-width: 1100px;
    }

    .secondary-nav_search-open-div {
        width: 83%;
        margin: 0 auto;
        max-width: 1100px;
    }
}
