.post_inner-container {
    padding: 20px;
}

.post_inner-container h1 {
    margin-right: 10px;
    margin-bottom: 30px;
    font-size: 25px;
}

.post_inner-container label {
    margin-right: 10px;
    margin-top: 20px;
    display: block;
    font-size: 20px;
}

.post_inner-container input {
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    padding: 5px 10px;
    background-color: var(--body-background);
    border: 1px solid #d3d3d3;
    font-size: 16px;
}

.post_inner-container select {
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    border: 1px solid #d3d3d3;
    padding: 5px 10px;
    background-color: #fff;
    background: url("../../assets/arrow.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
}

.social-helper-h3 {
    margin-top: 20px;
}

.social-helper-image {
    width: 90%;
    height: 60px;
    margin-top: 20px;
}

.post button {
    padding: 10px 20px;
    background-color: var(--navbar-background);
    color: #fff;
    border: none;
    margin-top: 20px;
    border-radius: 5px;
}
