.post-module {
    position: relative;
    z-index: 1;
    display: block;
    background: #ffffff;
    height: 500px;
    border: 1px solid #d3d3d3;
    border-radius: 6px;
    /* -webkit-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3); */
}
.post-module .thumbnail {
    height: 400px;
    overflow: hidden;
}
.post-module .thumbnail .date {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;
    background: #e74c3c;
    width: 55px;
    height: 55px;
    padding: 12.5px 0;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    -webkti-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.post-module .thumbnail .date .day {
    font-size: 18px;
}
.post-module .thumbnail .date .month {
    font-size: 12px;
    text-transform: uppercase;
}
.post-module .thumbnail img {
    display: block;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.post-module .post-content {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    background: transparent;
}
.post-module .post-content .post-text {
    padding: 30px;
}
.post-module .post-content .category {
    position: absolute;
    top: -24px;
    left: 0;
    background: #e74c3c;
    padding: 10px 15px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}
.post-module .post-content .title {
    margin: 0;
    padding: 0 0 10px;
    color: #333333;
    font-size: 26px;
    font-weight: 700;
}
.post-module .post-content .sub_title {
    margin: 0;
    padding: 0 0 20px;
    color: #e74c3c;
    font-size: 20px;
    font-weight: 400;
}
.news_container {
    max-width: 500px;
    min-width: 240px;
    margin: 0 auto;
}
