.relationships_admin-button {
    padding: 10px 20px;
    background-color: var(--blue);
    border-radius: 5px;
    color: #fff;
    box-shadow: 1px 2px 2px #d3d3d3;
    margin-top: 20px;
    font-size: 12px;
}
