.reply-box {
    width: 90%;
    font-size: 12px;
    padding: 5px 10px;
    height: 150px;
}

.publish-btn-container {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    padding: 5px 40px;
}

.publish-btn {
    padding: 10px 20px;
    background-color: var(--blue);
    border-radius: 5px;
    color: #fff;
}
