html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: arial;
    background-color: var(--body-background);
}

:root {
    --body-background: #edf0f1;
    --navbar-background: #2f3e4e;
    --second-font-color: #bec2c7;
    --secondary-highlights: #26313f;
}

.App {
    text-align: center;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.fa,
.fas:hover {
    cursor: pointer;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}
