.lady-ann-container {
    height: 60px;
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -1px;
    box-shadow: 1px 2px 3px #d3d3d3;
}

.lady-ann-container ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    padding: 20px;
}

.lady-ann-container ul li {
    color: #333;
    padding: 5px;
    height: 100%;
}

.lady-ann-container ul li:hover {
    color: var(--blue);
}
